<!doctype html>
<!-- Website template by freewebsitetemplates.com -->
<html>
	{% include 'head.twig' %}
	<body>
		<div id="page">
			{% set selected = "planets" %}
			{% include 'navigation.twig' with selected %}
			<div id="body">
				<div class="header">
					<div>
						<h1>{{object.title}}</h1>
						<p><img src="/images/moon-landing.jpg" alt=""></p>

						{% if object.parentPlanet %}
							<h2>Parent planet: <a href="/planets/{{object.parentPlanet}}">{{object.parentPlanet}}</a></h2>
							<p>Distance from {{object.parentPlanet}}: {{object.distanseFromParentPlanet}}</p>
						{% endif %}

						{% if category == "planets" %}
							<p>Moons: <br />
								{% for moon in object.moons %}
									<a href="/moons/{{moon.title}}">{{moon.title}}</a>
								{% endfor %}
							</p>
						{% endif %}

						<p>Diameter: {{object.diameter}}</p>
						<p>Day: {{object.day}}</p>
						<p>Gravity: {{object.gravity}}</p>
						<p>Temperature: {{object.temperature}}</p>
						<p>Water: {{object.water}}</p>
						<p>Radiation: {{object.radiation}}</p>
						<p>Magnetosphere: {{object.magnetosphere}}</p>
						<p>Atmosphere: {{object.atmosphere}}</p>
						<p>Description: <br />
						{{object.description}}</p>

						<p>Created: {{object.createdAt}}<br />
						Updated: {{object.updatedAt}}</p>

						<p><button data-type="{% if category == "planets" %}planets{% else %}moons{% endif %}" class="delete" id="{{object.title}}">X delete</button></p>

					</div>
				</div>
			</div>
			{% include 'footer.twig' %}
		</div>
	</body>
</html>
