<!doctype html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{object.title}} - Space Science Website Template</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="/css/mobile.css">
	<script src="/js/mobile.js" type="text/javascript"></script>
</head>
<body>
	<div id="page">
        <div id="header">
			<div>
				<a href="/" class="logo"><img src="/images/logo.png" alt=""></a>
				<ul id="navigation">
					<li class="menu">
						<a href="/">Home</a>
					</li>
					<li class="menu">
						<a href="/about">About</a>
					</li>
					<li class="menu selected">
						<a href="/planets">Objects</a>
						<ul class="primary">
							<li>
								<a href="/planets">Planets</a>
							</li>
							<li>
								<a href="/moons">Moons</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="/add">Add post</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="body">
			<div class="header">
				<div>
					<h1>{{object.title}}</h1>
					<img src="images/moon-landing.jpg" alt="">

					{% if object.parentPlanet %}
					    <h2>Parent planet: <a href="/planets/{{object.parentPlanet}}">{{object.parentPlanet}}</a></h2>
						<p>Distance from {{object.parentPlanet}}: {{object.distanseFromParentPlanet}}</p>
                    {% endif %}

				
					{% if category == "planets" %}
						<p>Moons: 
							{% for moon in object.moons %}
								<a href="/moons/{{moon.title}}">{{moon.title}}</a>
							{% endfor %}
						</p>
                    {% endif %}

					<p>Diameter: {{object.diameter}}</p>
					<p>Day: {{object.day}}</p>
					<p>Gravity: {{object.gravity}}</p>
					<p>Temperature: {{object.temperature}}</p>
					<p>Water: {{object.water}}</p>
					<p>Radiation: {{object.radiation}}</p>
					<p>Magnetosphere: {{object.magnetosphere}}</p>
					<p>Atmosphere: {{object.atmosphere}}</p>

					<p>Created: {{object.createdAt}}</p>
					<p>Updated: {{object.createdAt}}</p>

				</div>
			</div>
		</div>
		<div id="footer">
			<div class="connect">
				<div>
					<h1>FOLLOW OUR  MISSIONS ON</h1>
					<div>
						<a href="http://freewebsitetemplates.com/go/facebook/" class="facebook">facebook</a>
						<a href="http://freewebsitetemplates.com/go/twitter/" class="twitter">twitter</a>
						<a href="http://freewebsitetemplates.com/go/googleplus/" class="googleplus">googleplus</a>
						<a href="http://pinterest.com/fwtemplates/" class="pinterest">pinterest</a>
					</div>
				</div>
			</div>
			<div class="footnote">
				<div>
					<p>&copy; 2023 BY SPACE PROSPECTION | ALL RIGHTS RESERVED</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>