<!doctype html>
<html>
    {% set page = "edit" %}
	{% include 'head.twig' with page %}
	<body>
		<div id="page">
			{% set selected = "planets" %}
			{% include 'navigation.twig' with selected %}
			<div id="body">
				<div class="header">
					<div>
					    <div id="info">
							<h1>{{object.title|escape}}</h1>

							{% if object.image %}
								<img class="bigspaceimg" src="/uploades/{{object.image|escape}}" alt="{{object.title|escape}}">
							{% else %}
								<img class="bigspaceimg" src="/uploades/noimage.png" alt="{{object.title|escape}}">
							{% endif %}

							{% if category == "moons" %}
								<h2>Parent planet: <a href="/planets/{{object.parentPlanet|escape}}">{{object.parentPlanet|escape}}</a></h2>
								<h2>Distance from {{object.parentPlanet|escape}}: {{object.distanseFromParentPlanet|escape}}</h2>
							{% endif %}

							{% if category == "planets" %}
								<h2>Moons: 
									{% for moon in object.moons %}
										<a href="/moons/{{moon.title|escape}}">{{moon.title|escape}}</a>
									{% endfor %}
								</h2>
								<h2>Distance from parent star: {{object.distanseFromStar|escape}}</h2>
								<h2>Year: {{object.year|escape}}</h2>
							{% endif %}

							<h2>Day: {{object.day|escape}}</h2>
							<h2>Diameter: {{object.diameter|escape}}</h2>
							<h2>Gravity: {{object.gravity|escape}}</h2>
							<h2>Temperature: {{object.temperature|escape}}</h2>
							<h2>Water: {{object.water|escape}}</h2>
							<h2>Radiation: {{object.radiation|escape}}</h2>
							<h2>Magnetosphere: {{object.magnetosphere|escape}}</h2>
							<h2>Atmosphere: {{object.atmosphere|escape}}</h2>
							<h2>Atmospheric density: {{object.atmosphericDensity|escape}}</h2>
							<h2>Description: <br /></h2>
							<p>{{object.description|escape}}</p>

							<p>Created: {{object.createdAt|escape}}<br />
							Updated: {{object.updatedAt|escape}}</p>
						
						</div>
                        
						<div class="contact">
							<form action="/edit" id="edit" class="hide" method="post" enctype="multipart/form-data">
								<h2>Edit:</h2>

								<input type="text" name="title" id="title" value="{{object.title|escape}}" placeholder="Title*">	

								<input type="number" value="{{object.diameter|escape}}" name="diameter" placeholder="diameter, km">
								<input type="number" value="{{object.day|escape}}" name="day" min="1" step="0.1" placeholder="day, in hours">
								<input type="number" value="{{object.gravity|escape}}" name="gravity" min="0" step="0.1" placeholder="gravity">
								<input type="number" value="{{object.temperature|escape}}" name="temperature" min="-273" placeholder="temperature, celsius">
								
								<p>Water:</p>
								<select name="water">
									<option value="No water" {% if object.water == "No water" %}selected{% endif %}>No water</option>
									<option value="Some water" {% if object.water == "Some water" %}selected{% endif %}>Some water</option>
									<option value="Water world" {% if object.water == "Water world" %}selected{% endif %}>Water world</option>
								</select>	

								<p>Radiation:</p>
								<select name="radiation">
									<option value="Low" {% if object.radiation == "Low" %}selected{% endif %}>Low</option>
									<option value="Middle" {% if object.radiation == "Middle" %}selected{% endif %}>Middle</option>
									<option value="High" {% if object.radiation == "High" %}selected{% endif %}>High</option>
								</select>	

								<p>Magnetosphere:</p>
								<p>
									<label>Yes
										<input type="radio" name="magnetosphere" value="true" {% if object.magnetosphere %}checked{% endif %} />
									</label> 
									<label>No
										<input type="radio" name="magnetosphere" value="false" {% if not object.magnetosphere %}checked{% endif %}/>
									</label>
								</p>

								<p>Atmosphere:</p>
								<p>
									<label>Yes
										<input type="radio" name="atmosphere" value="true" {% if object.atmosphere %}checked{% endif %}/>
									</label> 
									<label>No
										<input type="radio" name="atmosphere" value="false" {% if not object.atmosphere %}checked{% endif %}/>
									</label>
								</p>

								<p>Atmospheric density: </p>
								<input type="number" name="atmosphericDensity" min="0" step="0.1"  value="{{object.atmosphericDensity|escape}}" placeholder="Atmospheric density, in part of Earth density...">
								
								{% if category == "moons" %}
									<fieldset>
										<legend><p>Specials for moons:</p></legend>
										<input type="number" name="distanseFromParentPlanet" value="{{object.distanseFromParentPlanet|escape}}" placeholder="Distanse from parent planet, thousands km">
										<input type="text" name="parentPlanet" id="parentPlanet" value="{{object.parentPlanet|escape}}" placeholder="Parent planet*">
									</fieldset>
							    {% endif %}

								{% if category == "planets" %}
									<fieldset>
										<legend><p>Specials for planets:</p></legend>
										<input type="number" name="year" value="{{object.year|escape}}" placeholder="year, in days">
										<input type="number" name="distanseFromStar" value="{{object.distanseFromStar|escape}}" placeholder="Distanse from parent star, mln km">
									</fieldset>
                                {% endif %}
								
								
								<p>Image (2MB max): <input type="file" name="image"></p>

								<textarea name="description" id="description" cols="50" rows="7">{{object.description|escape}}</textarea>

								<p>*required fields</p>

								<input type="hidden" name="type" value="{{category|escape}}"> 
								<input type="hidden" name="oldTitle" value="{{object.title|escape}}"> 
								<input type="hidden" name="oldParentPlanet" value="{{object.parentPlanet|escape}}"> 
								<input type="hidden" name="edit" value="true">

								<input type="submit" value="Send">
							</form>
                        </div>

						<p><button id="editToggle" class="edit">Edit</button><button data-type="{% if category == "planets" %}planets{% else %}moons{% endif %}" class="delete" id="{{object.title|escape}}">X delete</button></p>

					</div>
				</div>
			</div>
			{% include 'footer.twig' %}
		</div>
	</body>
</html>
