<!doctype html>
<!-- Website template by freewebsitetemplates.com -->
<html>
	{% include 'head.twig' %}
	<body>
		<div id="page">
			{% set selected = "planets" %}
			{% include 'navigation.twig' with selected %}
			<div id="body">
				<div class="header">
					<div>
						<h1>{{object.title}}</h1>
						<img class="bigspaceimg" src="/uploades/{{object.image}}" alt="{{object.title}}">

						{% if object.parentPlanet %}
							<h2>Parent planet: <a href="/planets/{{object.parentPlanet}}">{{object.parentPlanet}}</a></h2>
							<h2>Distance from {{object.parentPlanet}}: {{object.distanseFromParentPlanet}}</h2>
						{% endif %}

						{% if category == "planets" %}
							<h2>Moons: <br />
								{% for moon in object.moons %}
									<a href="/moons/{{moon.title}}">{{moon.title}}</a>
								{% endfor %}
							</h2>
						{% endif %}

						<h2>Diameter: {{object.diameter}}</h2>
						<h2>Day: {{object.day}}</h2>
						<h2>Gravity: {{object.gravity}}</h2>
						<h2>Temperature: {{object.temperature}}</h2>
						<h2>Water: {{object.water}}</h2>
						<h2>Radiation: {{object.radiation}}</h2>
						<h2>Magnetosphere: {{object.magnetosphere}}</h2>
						<h2>Atmosphere: {{object.atmosphere}}</h2>
						<h2>Description: <br /></h2>
						<p>{{object.description}}</p>

						<p>Created: {{object.createdAt}}<br />
						Updated: {{object.updatedAt}}</p>

						<p><button data-type="{% if category == "planets" %}planets{% else %}moons{% endif %}" class="delete" id="{{object.title}}">X delete</button></p>

					</div>
				</div>
			</div>
			{% include 'footer.twig' %}
		</div>
	</body>
</html>
